name: Go build and deploy

on:
  push:
    branches: [ main ]

jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
      id: go

    - name: Test
      run: go test -cover ./...

    - name: Build artifact
      run: |
        CGO_ENABLED=0 go build -v -tags lambda.norpc -o bootstrap github.com/mctofu/water-monitor/cmd/monitor
        zip water-monitor.zip bootstrap

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE }}
        role-session-name: deploy-water-monitor
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy
      run: |
        aws lambda update-function-code \
          --function-name ${{ secrets.FUNCTION_NAME }} \
          --zip-file fileb://water-monitor.zip > /dev/null
